


.contentBody {
    width: 100%;
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color2);
}

.collectionBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-inline: 10px;
    padding-bottom: 25px;
}

.ratedBooks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.customDropdown {
    height: 400px;
}