.bookList {
    align-items: center;
    width: 100%;
}

.bookCardContainer {
    background-color: var(--accent-color);
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}