.bookList {
    align-items: center;
}

.bookCardContainer {
    background-color: var(--accent-color);
    width: 100%;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}