.bookList {
    align-items: center;
}

.bookCardContainer {
    background-color: var(--accent-color);
    width: 100%;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    padding: 40px;
}