.bookCard {
    background-color: white;
    width: 180px;
    height: 320px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    position: relative; 
}

.bookCard h2 {
    font-size: medium;
    padding: 0;
    margin: 0;
    text-align: center;
    display: -webkit-box;         
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;        
    overflow: hidden;             
    max-height: 3em;              
    line-height: 1.5em;           
}

.bookCard p {
    padding: 0;
    margin: 0;
    display: -webkit-box;         
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;        
    overflow: hidden;             
    max-height: 3em;              
    line-height: 1.5em;  

}

.bookImg {
    border-radius: 5px;
    height: 200px;
    width: 100%; 
    object-fit: cover; 
}

.likeButton {
    position: absolute;
    bottom: 15px;
    cursor: pointer; 
}
