.contentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.userInfo {
    position: relative;
    top: 170px;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.userInfo h3, .userInfo p {
    margin-top: 20px;
}

.userInfo h3:hover {
    text-decoration: none;
    cursor: default;
}

.userInfoHeader {
    display: flex;
    gap: 10px;
}

.userAvatar {
    border-radius: 100px;
    height: 30px;
}

.userButtons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.userButtons button {
    width: 180px;
    padding: 10px;
}

.deleteButton {
    background-color: rgb(193, 2, 2);
}

.spinnerDiv {
    position: fixed;
    top: 300px;
    background-color: black;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
