.contentBody {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    top: 120px;
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoHeader {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.bookContainer h2 {
    margin: 0;
    max-width: 400px;
}

.bookContainer h3 {
    margin: 0;
}

.contentBody img {
    height: 100%;
    margin-bottom: 10px;
}


.likeButton {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    border: black solid 2px;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    padding-right: 25px;
    cursor: pointer; 
    gap: 15px;

}

.heart {
    color: white;
    scale: 1.5;
}

.heartActive {
    color: rgb(183, 0, 0);
    scale: 1.5;
}

.bookContainer {
    height: fit-content;
    width: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 40px;
}

.bookContainer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

