.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.logoContainer:hover {
    scale: 1.05;
    cursor: pointer;
}

.logo {
    font-size: 40px;
}

.searchBar {
    background-color: white;
    border-radius: 40px;
    width: 400px;
    height: 40px;
    color: black;
    padding-inline: 15px;
    font-size: 20px;
    border: none;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    scale: 2;
    color: black;
    position: absolute;
    right: 15px;
    top: 12px;
}

.upperNav {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 70px;
}

.lowerNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    height: 50px;
}

.lowerNav li {
    list-style: none;
    font-size: larger;
}

.lowerNav ul {
    display: flex;
    gap: 40px;
}

.navBar {
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navMenu {
    display: flex;
    gap: 20px;
}

.navMenu button {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.userAvatar {
    border-radius: 100px;
    height: 30px;
}