.logo {
    font-size: 25px;
}

.searchBar {
    background-color: white;
    border-radius: 40px;
    width: 400px;
    height: 40px;
    color: black;
    padding-inline: 15px;
    font-size: 20px;
    border: none;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    scale: 2;
    color: black;
    position: absolute;
    right: 15px;
    top: 12px;
}

.navBar {
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navMenu {
    display: flex;
    gap: 20px;
}

.navMenu button {
    border-radius: 20px;
}