.logo {
    font-size: 25px;
}

.searchBar {
    background-color: white;
    border-radius: 40px;
    width: 400px;
    height: 40px;
    color: black;
    padding-inline: 10px;
    font-size: 20px;
    border: none;
}

.navBar {
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    top: 0;
}

.navMenu {
    display: flex;
    gap: 20px;
}

.navMenu button {
    border-radius: 20px;
}